BasedOnStyle: 'Google'

AlignConsecutiveMacros:
  Enabled:         true
  AcrossEmptyLines: true
  AcrossComments:  true
  AlignCompound:   false
  PadOperators:    false
AccessModifierOffset: -4
#AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
ColumnLimit: 120
QualifierAlignment: Left
FixNamespaceComments: true
IndentWidth: 4
JavaScriptQuotes: Single
NamespaceIndentation: None
ObjCBlockIndentWidth: 4
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: false
InsertNewlineAtEOF: true
UseTab: Never
LineEnding: LF
